# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore any local configuration or temporary files
*.log
*.sqlite3

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore Dockerfile itself and docker-compose.yml
Dockerfile
docker-compose.yml
.mypy_cache

.env*
api.postman_collection.json